<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Cette application utilise votre localisation pour calculer la Qibla et les horaires de prière.</string>
	<key>NSCameraUsageDescription</key>
	<string>La caméra est utilisée pour afficher l'horizon en réalité augmentée et repérer la Lune et les reliefs.</string>
</dict>
</plist>
